
:root{
    --primary:#ed9900;
    --primary-hover:#d88c00;
    --main-color:#eee;
}
* {
    margin: 0;
    padding: 0;
}
body {  
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif !important;
}
.container {
    margin: auto;
    padding: 0px 50px;
}
/** menu */

.list-menu {
    display: none;
    height: 95%;
    width: 300px;
    background-color: var(--main-color);
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0px;
    padding: 35px 20px;
    a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom:5px;
        padding: 15px 5px;
        border-radius: 5px;
    }
    a:hover {
        color: black;
        background-color: #c9c9c9;
        text-decoration: underline;
    }
}
.close-list {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu {
   display: none;
   cursor: pointer;
}

/*? menu */

.shopping-cart {
    height: 100%;
    width: 350px;
    background-color: rgb(93, 93, 93);
    color: #fff;
    position: fixed;
    display: none;
    z-index: 2;
    right: 0px;
    padding: 20px;
}
.header-shop-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.listCart {
    overflow-y: scroll;
    height: 100%;
}
.listCart::-webkit-scrollbar {
    width: 0px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    img {
        width: 50px;
        height: 60px;
        border-radius: 5px;
    }
}
.style {
    border: 1px solid black;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
}
.remove-border-right {
    border-color: black transparent black black ;
    cursor: pointer;
}
.remove-border-left {
    border-color: black black black transparent;
    cursor: pointer;
}
.edit-shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.style-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeAndPrice {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    .close-item {
        font-size: 20px !important;
        cursor: pointer;
    }
}
.star-rating {
    display: flex;
    .material-symbols-outlined {
        font-size: 20px !important;
    }
}

.checked {
    color: orange;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.priceANDbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.addButton {
    padding: 10px 20px !important;
    border-color: transparent;
    border-radius: 5px;
    background-color: var(--primary);
    cursor: pointer;
}
.addButton:hover {
    background-color: var(--primary-hover);
}
/*? nav */

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.navBar {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        color: gray;
        text-decoration: none;
    }
}

.navBar a:hover {
    color: black;
    text-decoration: underline;
}

.search-bar {
    position: relative;
    input {
        width: 250px;
        height: 30px;
        padding: 0px 30px 0px 10px;
        border-radius: 15px;
        border: 1px solid gray;
        position: relative;
        background-color: transparent;
    }
    .styleIcon {
        position: absolute;
        color: gray;
        font-size: 20px;
        top: 5px;
        right: 8px;
    }
}
#searchInput:focus{
    outline: none;
    border: 1.5px solid black;
}
.cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 10px;
}

.style-cart {
    color: gray;
    position: relative;
}
.style-cart:hover{
    cursor: pointer;
    color: black;
}
.style-cart:hover::after {
    content: "cart page";
    display: block;
    position: absolute;
    bottom: -25px;
    left: -15px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.header-fav {
    color: gray;
    cursor: pointer;
}

.favorite-page:hover::after {
    content: "favorite page";
    display: block;
    position: absolute;
    bottom: -24px;
    left: 40px;
    min-width: 73px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background-color: black;
}

/*? custom input checkbox  */
.change-color {
    padding-right: 10px;
}

#custom-input {
    position: relative;
    width: 50px ;
    height: 25px;
    -webkit-appearance: none;
    outline: none;
    background: #e8e8e8;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
    cursor: pointer;
}

#custom-input:checked {
    background-color: #00000084 ;
}

#custom-input::before {
    content: " ";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    transition: 0.5s;
    top: 2px;
    left: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#custom-input:checked::before {
    background-color: #fff;
    transform: translateX(25px);
}

.active.body {
    background-color: #000;
    color: #fff;
}

                    /*! collection */

.post-new-collection {
    display: flex;
    align-items: center;
    background-color: #ffcbcb;
    position: relative;
    height: 600px;
    margin-bottom: 80px;
    padding: 0px 15px;
}
.summer-description {
    font-size: 45px;
    font-weight: bold;
}
.border-style {
    width: 450px;
    height: 450px;
    position: absolute;
    right: 50px;
    background-color: #fff;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}
.model {
    width: 500px !important;
    position: absolute;
    right: 1px;
    width: fit-content;
    z-index: 1;
}
.shop-collection {
    background-color: black;
    color: #fff;
    border-color: transparent;
    width: fit-content;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
}
.men-word {
    color: gray;
}
.edit-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}
            /*? products */

.products {
    /* position: relative; */
    h1 {
        margin-bottom: 40px;
        text-align: center;
    }
}

.all-product {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 85%; */
    height: 410px;
    gap: 8px;
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    margin-bottom: 30px;
    a {
        text-decoration: none;
    }
    .main-image {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        padding: 40px 0px 30px;
        border-radius: 10px;
        margin-bottom: 10px;
        img {
            width: 85%;
            height: 200px;
            position: relative;
        }
    }
    p {
        color: gray;
        font-size: 15px;
    }
    .description {
        color: black;
    }
    .description:hover {
        color: gray;
    }
    .priceOfPiece {
        font-weight: 600;
        font-size: 19px;
    }
    .cen-Line-Footer-Pro {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
}
.edit-fav {
    display: flex;
    justify-content: space-between;
}

.edit{
    font-size: 23px !important;
    color:gray;
    margin-right: 7px;
    cursor: pointer;
}

.fav {
    display: none;
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 1;
    padding: 10px;
}
.product:hover .fav {
    display: block;
}

.active{
    color: black !important;
}
.top {
    width: 40px;
    height: 40px;
    background-color: orange;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
}
@media(max-width: 1200px) {
    .all-product {
        grid-template-columns: repeat(3,1fr);   
    }
}

@media(max-width: 950px) {

    .menu {
        display: block;
    }
    .navBar{
        display: none;
    }
    #post {
        .edit-post{
            .summer-description {
                font-size: 40px;
            }
            a{
                button {
                    padding: 10px 20px;
                }
            }
        }
        .model{
            width: 400px !important;
        }
        .border-style{
            width: 350px;
            height: 350px;
        }
    }
    .all-product {
        grid-template-columns: repeat(2,1fr);   
    }
}

@media(max-width:780px) {
    .post-new-collection{
        height: 650px;
        flex-direction: column;

        .edit-post{
            margin-top: 40px;
            align-items: center;
            width: 100%;
            .summer-description {
                text-align: center;
            }
        }
        .model{
            bottom: 1px;
            right:auto;
        }
        .border-style{
            bottom: 1px;
            right: auto;
        }
    }
}
@media(max-width: 600px) {
    .summer-description {
        text-align: center;
    }
    .all-product {
        grid-template-columns: repeat(1,1fr);
        .product {
            width: 100%;
        }
    }
}
@media(max-width: 500px) {
    .search-bar{
        input {
            width: 180px;
        }
    }
}

@media(max-width: 430px) {
    .search-bar{
        input {
            width: 130px;
        }
    }

}
@media(max-width: 350px) {
    .container {
        padding: 20px 20px;
    }
    .search-bar{
        input {
            width: 120px;
        }
    }
}
